/* Google Font Import - Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #0a2558;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}


/* ===== Sidebar ===== */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}


/* ===== Reusable code - Here ===== */

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}


/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 60%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.container .whitecolor {
    background-color: var(--sidebar-color);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.card {
    background-color: var(--primary-color);
}

body.dark form {
    color: var(--text-color);
    background-color: var(--primary-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    position: fixed;
    overflow: scroll;
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

body.dark .home .top {
    color: var(--text-color);
}

body.dark .home .top .profile-details {
    color: var(--text-color);
}

body.dark .home .top .profile-details span {
    color: var(--text-color);
}

body.dark .home .top .profile-details span i {
    color: var(--text-color);
}

body.dark h2 {
    color: var(--text-color);
}

body.dark {
    color: var(--text-color);
}

.home .top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    background: var(--sidebar-color);
    transition: var(--tran-05);
}

.home .top .head {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 12px 30px;
}

.home .top .head i {
    font-size: 30px;
    margin-right: 10px;
    padding: 7px 0;
}

.home .top .profile-details {
    display: flex;
    align-items: center;
    background: var(--sidebar-color);
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 4px;
    margin-right: 20px;
}

.top .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}

.top .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

.top .profile-details i {
    font-size: 25px;
    color: #333;
}

.home .welcome-banner {
    padding-top: 104px;
}

.home .welcome-banner .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px 0px 30px;
    background-color: #0a2558;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    min-height: 10rem;
    justify-content: space-between;
    align-items: center;
    transition: var(--tran-05);
}

.home .welcome-banner .row .user-info {
    z-index: 1;
}

.home .welcome-banner .row .user-info .profile-img {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
}

.home .welcome-banner .row .user-info .intro {
    font-weight: 900;
    font-size: 25px;
    color: var(--primary-color-light);
    position: relative;
    top: -95px;
    left: 120px;
}

.home .welcome-banner .row .user-info h3 {
    font-weight: 400;
    margin-top: 10px;
    color: var(--primary-color-light);
    position: relative;
    top: -90px;
    left: 120px;
}

.home .welcome-banner .row .user-info h4 {
    font-weight: 400;
    margin-top: 10px;
    color: var(--primary-color-light);
    position: relative;
    top: -90px;
    left: 120px;
}

.home .welcome-banner .row .user-info .profile {
    float: right;
    position: absolute;
    right: 200px;
    top: 160px;
    border-radius: 10px;
    padding: 10px;
    background: var(--body-color);
    color: var(--primary-color);
}

.home .welcome-banner .row .user-info .book {
    float: right;
    position: absolute;
    right: 70px;
    top: 160px;
    border-radius: 10px;
    padding: 10px;
    background: var(--body-color);
    color: var(--primary-color);
}

.home .welcome-banner .row .user-info h1 {
    color: var(--toggle-color);
}

.home .welcome-banner .row .user-info h3 {
    color: var(--toggle-color);
}

.home .welcome-banner .row .user-info .profile {
    color: var(--text-color);
}

.home .welcome-banner .row .user-info .book {
    color: var(--text-color);
}

.home .welcome-banner .book {
    background: var(--sidebar-color);
    border-radius: 20px;
}

.home .welcome-banner .book {
    color: var(--text-color);
}

@media (max-width: 700px) {
    .top .head .dashboard,
    .top .profile-details .admin_name,
    .top .profile-details i,
    .home .welcome-banner .row .user-info .profile,
    .home .welcome-banner .row .user-info .book {
        display: none;
    }
    .home .top .profile-details {
        height: 50px;
        min-width: 40px;
    }
    .home .welcome-banner .row .user-info .intro {
        font-size: 20px;
    }
    .home .sales-boxes .sales-details {
        width: 560px;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background-color: #0a2558;
}

.table thead tr th {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #ffffff;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #0a2558;
}

body.dark .table thead tr th {
    color: var(--text-color);
}

.table tbody tr td {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    padding: 8px;
    text-align: center;
    border: 1px solid #0a2558;
}

body.dark .table tbody tr td {
    color: var(--text-color);
}

.table tbody tr td .btn {
    width: 60px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: #0a2558;
    font-weight: medium;
    color: #ffffff;
    text-align: center;
    vertical-align: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
}

@media (max-width: 768px) {
    .table thead {
        display: none;
    }
    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }
    .table tr {
        margin-bottom: 15px;
    }
    .table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
}

.w3-dark-blue,
.w3-hover-dark-blue:hover {
    color: #fff !important;
    background-color: #0a2558 !important;
}


/* Add padding and center-align text to the container */

.container {
    padding: 16px;
    text-align: center;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background: rgba(157, 160, 157, 0.6);
    padding-top: 50px;
}


/* Modal Content/Box */

.modal-content {
    background-color: var(--body-color);
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 45%;
    border-radius: 20px;
    align-items: center;
    /* Could be more or less, depending on screen size */
}

.modal-content {
    color: var(--text-color);
}


/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* The Modal Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Change styles for cancel button and delete button on extra small screens */

@media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}

hr.blue {
    border: 1px solid var(--primary-color);
}